body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .dashboard-container {
    display: flex;
  }
  
  .menu-bar {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    min-width: 200px;
    transition: min-width 0.5s;
    height: 698px
  }
  
  .menu-btn {
    cursor: pointer;
    display: none;
  }
  
  .nav-menu {
    display: block;
  }
  
  .nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-menu li {
    padding: 10px;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: #fff;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 15px;
  }
  


  
  /* Media queries for responsiveness */
  
  @media only screen and (max-width: 768px) {
    .menu-bar {
      min-width: 50px;
    }
  
    .menu-bar .menu-btn {
      display: block;
      cursor: pointer;
    }
  
    .nav-menu {
      display: none;
    }
  
    .nav-menu.active {
      display: block;
    }
  }



  