

/* 
*{
  margin:0;
  padding:0;
  text-decoration: none;
} */
/* .container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
} */




.sidebar{ 
  background: rgba(3, 158, 255, 0.431);
  color: #fff;
  height: 100vh;
  /* width:10vw; */
  transition: all 0.5s;
  padding: 15px;
  text-align: center;

}
/* .top_section{
  display: flex;
  align-items:center;
  padding:20px 5px;
  
}
.logo1{
  font-size: 40px;
  margin-left: 10px;
}
.bars{
  display: flex;
  font-size: 20px;
  margin-left: 30px;
}
.link{
  display: flex;
  color: #ffffff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:rgba(209, 31, 31, 0.851);
  color: #f6f6f6;
  transition: all 0.5s;
}
.link1{
  display: flex;
  background:rgba(209, 31, 31, 0.851);
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link1:hover{
  background:rgba(209, 31, 31, 0.346);
  color: #f6f6f6;
  transition: all 0.5s;
}
.link2{
  display: flex;
  background:rgba(41, 103, 235, 0.851);
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link2:hover{
  background:rgba(41, 102, 235, 0.303);
  color: #f6f6f6;
  transition: all 0.5s;
}
.active{
  background: rgba(59, 132, 178, 0.868);
  color: #ff0606d5;
}
.icon{
  font-size: 25px;
} 

.link_text{
  font-size: 20px;
} */

